statml/
*.out
*.txt
*.log
# *.csv
*.json
*.yaml
*.pyc
logs/
results/
models/
evaluation/
probability_plots/
utils/adidas_style.py
utils/analyze_plugin_probs.py
adidas_style_words.txt
adidas.csv

*.ipynb